.list {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: rgb(78, 31, 13);
}

.wrapper {
  color: rgb(11, 145, 155);
}
